<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 계정 목록</title>
</head>
<body>
    <h1>판매자 계정 목록</h1>
    <a href="/admin/sellers/new">새 판매자 계정 등록</a>

    <div th:if="${sellers.isEmpty()}">
        <p>등록된 판매자 계정이 없습니다.</p>
    </div>

    <table th:unless="${sellers.isEmpty()}">
        <tr>
            <th>sellerId</th>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>담당 storeId</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>

        <tr th:each="s : ${sellers}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.username}"></td>
            <td th:text="${s.password}"></td>
            <td th:text="${s.storeId} + ' - ' + ${s.storeName}"></td>
            <td>
                <a th:href="@{/admin/sellers/{id}/edit(id=${s.id})}">수정</a>
            </td>
            <td>
                <form method="post" th:action="@{/admin/sellers/{id}/delete(id=${s.id})}" style="display: inline">
                    <button>삭제</button>
                </form>
            </td>
        </tr>
    </table>

<div>
    <a href="/admin">관리자 메뉴로 돌아가기</a>
</div>


</body>
</html>