<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메뉴 추가</title>
</head>
<body>
    <h1>새 메뉴 등록</h1>
    <form action="/menu/add" method="post">
        <label>메뉴명:</label>
        <input type="text" name="name" required>
        <br><br>

        <label>가격:</label>
        <input type="number" name="price" required>
        <br><br>

        <button type="submit">등록</button>
    </form>

    <p><a href="/menu">메뉴 목록으로 돌아가기</a></p>
</body>
</html>