<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>

<table border="1" cellpadding="8">
    <tr>
        <th>메뉴명</th>
        <th>가격</th>
    </tr>

    <!-- th:each 반복문 -->
    <tr th:each="menu : ${menus}">
        <td th:text="${menu.name}"></td>
        <td th:text="${menu.price} + 원"></td>

        <!-- 삭제 버튼 form-->
        <td>
            <form th:action="@{/menu/delete}" method="post">
                <input type="hidden" name="name" th:value="${menu.name}"/>
                <button type="submit">삭제</button>
            </form>
        </td>

        <td>
            <!--수정-->
            <form th:action="@{/menu/edit}" method="get">
                <input type="hidden" name="name" th:value="${menu.name}">
                <button type="submit">수정</button>
            </form>
        </td>
    </tr>
</table>

<p>
    <a href="/menu">전체 보기</a> |
    <a href="menu/expensive">4500원 이상 보기</a>
</p>
</body>
</html>