<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메뉴 상세 조회</title>
</head>
<body>
    <h1 th:text="|[${menu.name}] 메뉴 상세|"></h1>

    <table>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>가격</th>
            <th>카테고리</th>
            <th>설명</th>
        </tr>

        <tr>
            <td th:text="${menu.id}"></td>
            <td th:text="${menu.name}"></td>
            <td th:text="${menu.price}"></td>
            <td th:text="${menu.category}"></td>
            <td th:text="${menu.description}"></td>
        </tr>
    </table>

    <a href="/menus">전체 메뉴로 돌아가기</a>
</body>
</html>