<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메뉴 등록</title>
</head>
<body>
<h1>새 메뉴 등록</h1>

<form method="post" action="/menus/new">
    <div>
        <label>메뉴 이름 : </label>
        <input type="text" name="name" required>
    </div>
    <div>
        <label>가격 : </label>
        <input type="number" name="price" required>
    </div>

    <div>
        <label>카테고리 : </label>
        <select name="category" required>
            <option value="">선택하세요</option>
            <option value="COFFEE">커피</option>
            <option value="BEVERAGE">음료</option>
            <option value="DESSERT">디저트</option>
        </select>
    </div>


    <div>
        <label>설명 : </label>
        <textarea name="description" rows="3"></textarea>
    </div>

    <div>
        <button type="submit">등록</button>
        <a href="/menus">취소</a>
    </div>

</form>
</body>
</html>