<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메뉴 수정</title>
</head>
<body>
<h1>메뉴 수정</h1>

<form method="post" th:action="@{/admin/menus/edit/{id}(id=${menu.id})}">
    <div>
        <label>메뉴 이름 :</label>
        <input type="text" name="name" th:value="${menu.name}" required>
    </div>

    <div>
        <label>가격 : </label>
        <input type="number" name="price" th:value="${menu.price}" required>
    </div>

    <div>
        <label>카테고리 : </label>
        <select name="category" required>
            <option value="COFFEE" th:selected="${menu.category.name() == 'COFFEE'}">커피</option>
            <option value="BEVERAGE" th:selected="${menu.category.name() == 'BEVERAGE'}">음료</option>
            <option value="DESSERT" th:selected="${menu.category.name() == 'DESSERT'}">디저트</option>
        </select>
    </div>

    <div>
        <label>설명 : </label>
        <textarea name="description" rows="3" th:text="${menu.description}"></textarea>
    </div>

    <div>
        <button type="submit">수정</button>
        <a href="/admin/menus">취소</a>
    </div>
</form>



</body>
</html>